<section class="section-block featured-media window-height tm-slider-parallax-container">
  <div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-parallax-fade-out data-scale-under="960">
    <ul class="tms-slides">
      <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="006c90" data-overlay-bkg-opacity="0.75">
        <div class="tms-content">
          <div class="tms-content-inner v-align-middle">
            <div class="row">
              <div class="column width-7 pd-20 left center-on-mobile">
                <h5 class="tms-caption text-uppercase weight-bold color-white mb-10"
                  data-animate-in="opacity:0;transY:-50;duration:900ms;delay:100ms;easing:easeFastSlow;"
                  data-no-scale
                ><%= t("about.intro.motto") %></h5>
                <div class="clear"></div>
                <h1 class="tms-caption title-xlarge text-uppercase lspacing-medium weight-bold color-white mb-10"
                  data-animate-in="opacity:0;transY:-50;duration:900ms;delay:300ms;easing:easeFastSlow;"
                  data-no-scale
                ><%= t("about.intro.header") %></h1>
                <div class="clear"></div>
                <p class="tms-caption font-alt-1 text-medium weight-light color-white hide-on-mobile mb-30"
                  data-animate-in="opacity:0;transY:-50;duration:900ms;delay:500ms;easing:easeFastSlow;"
                  data-no-scale
                ><%= t("about.intro.subheader") %></p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <img data-src="images/about/about_slide1.jpg" data-retina src="images/blank.png" alt=""/>
      </li>
    </ul>
  </div>
</section>
<!-- Fullscreen Slider Section End -->

<!-- Hero Section 5 -->
<div class="section-block hero-5 hero-5-2 clear-height show-media-column-on-mobile bkg-white">
  <div class="media-column width-6 horizon" data-animate-in="opacity:0;transX:-50px;duration:1000ms;delay:100ms;easing:easeIn;" data-threshold="0.5"></div>
  <div class="row">
    <div class="column width-6 push-6">
      <div class="hero-content split-hero-content">
        <div class="hero-content-inner left center-on-mobile horizon" data-animate-in="opacity:0;transX:50px;duration:1000ms;easing:easeIn;" data-threshold="0.4">
          <h3 class="mb-50"><%= t("about.section1.header") %></h3>
          <p class="lead"><%= t("about.section1.lead") %></p>
          <p class="color-grey"><%= t("about.section1.text") %></p>
          <a href="#" class="button medium bkg-radiokitol bkg-hover-charcoal color-white color-hover-white text-uppercase"><%= t("about.section1.button") %></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Section 5 End -->

<!-- Feature Column Section -->
<div class="section-block bkg-grey-ultralight">
  <div class="row">
    <div class="column width-12">
      <h3 class="mb-50"><%= t("about.section3.header") %></h3>
    </div>
  </div>
  <div class="row equalize">
    <div class="column width-4">
      <div class="box xlarge bkg-white no-margins horizon" data-animate-in="opacity:0;transX:-50px;duration:1000ms;easing:easeIn;" data-threshold="0.5">
        <div class="row">
          <div class="column width-12">
            <div class="feature-column small left pt-20 pb-20">
              <div class="feature-text no-padding">
                <span class="text-large font-alt-1">01.</span>
                <h3 class="text-uppercase color-grey"><%= t("about.section3.box1.title") %></h3>
                <p class="mb-mobile-30"><%= t("about.section3.box1.text") %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column width-4">
      <div class="box xlarge bkg-radiokitol color-white no-margins horizon" data-animate-in="opacity:0;transX:-50px;duration:1000ms;delay:100ms;easing:easeIn;" data-threshold="0.5">
        <div class="row">
          <div class="column width-12">
            <div class="feature-column small left pt-20 pb-20">
              <div class="feature-text no-padding">
                <span class="text-large font-alt-1">02.</span>
                <h3 class="text-uppercase color-grey"><%= t("about.section3.box2.title") %></h3>
                <p class="mb-mobile-30"><%= t("about.section3.box2.text") %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column width-4">
      <div class="box xlarge bkg-white no-margins horizon" data-animate-in="opacity:0;transX:-50px;duration:1000ms;delay:200ms;easing:easeIn;" data-threshold="0.5">
        <div class="row">
          <div class="column width-12">
            <div class="feature-column small left pt-20 pb-20">
              <div class="feature-text no-padding">
                <span class="text-large font-alt-1">03.</span>
                <h3 class="text-uppercase color-grey"><%= t("about.section3.box3.title") %></h3>
                <p class="mb-mobile-30"><%= t("about.section3.box3.text") %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature Column Section End -->

<!-- Hero Section 4 -->
</div>
