
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Feature Section 1 -->
				<section class="section-block featured-media window-height tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-auto-advance data-auto-advance-interval="7000" data-speed="1300" data-progress-bar="false" data-nav-arrows="false" data-pause-on-hover="false" data-scale-under="1">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#2d3138" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-4">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("products.electron.intro.slide1.name") %></h1>
													<p class="lead mb-30 color-white"><%= t("products.electron.intro.slide1.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale
												>
													<p><a href="electron.html#how" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("products.electron.intro.slide1.learn_more") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/electron/electron_slide1.jpg"  src="images/blank.jpg" alt=""/>
							</li>
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#2d3138" data-overlay-bkg-opacity="0.4" data-animation="scaleOut">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-4">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white mb-30"><%= t("products.electron.intro.slide2.name") %></h1>
												</div>

												<p class="tms-caption lead mt-30 mb-30 color-white"
													data-animate-in="opacity:0;transX:150px;duration:600ms;delay:900ms;easing:easeFastSlow;"
													data-no-scale>
													<%= t("products.electron.intro.slide2.claim") %>
												</p>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
												<p><a href="electron.html#how" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("products.electron.intro.slide2.learn_more") %></a></p>
											</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/electron/electron_slide2.jpg"  src="images/blank.jpg" alt=""/>
							</li>
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#2d3138" data-overlay-bkg-opacity="0.3" data-animation="slideTopBottom">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-4">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("products.electron.intro.slide3.name") %></h1>
													<p class="lead mb-30 color-white"><%= t("products.electron.intro.slide3.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale
												>
													<a href="electron.html#pricing" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("products.electron.intro.slide3.learn_more") %></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/electron/electron_slide3.jpg"  src="images/blank.jpg" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Feature Section 1 End -->

			<section id="specs1">	<!-- Feature Column Section -->
				<div class="section-block replicable-content">
					<div class="row">
						<div class="column width-8 offset-2 center">
							<h2 class="mb-30"><%= t("products.electron.features.header") %></h2>
							<p class="lead mb-70"><%= t("products.electron.features.subheader") %></p>
						</div>
						<div class="column width-6">
							<div class="box xlarge">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-sound-mix color-electrol"></span>
									<div class="feature-text">
										<h3><%= t("products.electron.features.boxes.web.header") %></h3>
										<p><%= t("products.electron.features.boxes.web.text") %> </p>
									</div>
								</div>
							</div>
						</div>
							<div class="column width-6">
								<div class="box xlarge bkg-grey-ultralight">
									<div class="feature-column medium left center-on-mobile">
										<span class="feature-icon icon-gauge color-electrol"></span>
										<div class="feature-text">
											<h3><%= t("products.electron.features.boxes.latency.header") %></h3>
											<p><%= t("products.electron.features.boxes.latency.text") %></p>
										</div>
									</div>
								</div>
							</div>
							<div class="column width-6">
								<div class="box xlarge bkg-grey-ultralight">
									<div class="feature-column medium left center-on-mobile">
										<span class="feature-icon icon-upload color-electrol"></span>
										<div class="feature-text">
											<h3><%= t("products.electron.features.boxes.outofthebox.header") %></h3>
											<p> <%= t("products.electron.features.boxes.outofthebox.text") %></p>
										</div>
									</div>
								</div>
							</div>
							<div class="column width-6">
								<div class="box xlarge">
									<div class="feature-column medium left center-on-mobile">
										<span class="feature-icon icon-link color-electrol"></span>
										<div class="feature-text">
											<h3><%= t("products.electron.features.boxes.api.header") %></h3>
											<p class="mb-70 mb-mobile-30"><%= t("products.electron.features.boxes.api.text") %></p>
										</div>
									</div>
								</div>
							</div>
							<div class="column width-6">
								<div class="box xlarge">
									<div class="feature-column medium left center-on-mobile">
										<span class="feature-icon icon-note color-electrol"></span>
										<div class="feature-text">
											<h3><%= t("products.electron.features.boxes.quality.header") %></h3>
											<p class="mb-70 mb-mobile-30"><%= t("products.electron.features.boxes.quality.text") %> </p>
										</div>
									</div>
								</div>
							</div>
							<div class="column width-6">
								<div class="box xlarge bkg-grey-ultralight">
									<div class="feature-column medium left center-on-mobile">
										<span class="feature-icon icon-signal color-electrol"></span>
										<div class="feature-text">
											<h3><%= t("products.electron.features.boxes.networks.header") %></h3>
											<p class="mb-70 mb-mobile-30"><%= t("products.electron.features.boxes.networks.text") %></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
</section>
				<!-- Feature Column Section End -->

				<!-- Feature Section 2 -->
				<section id="how" class="section-block bkg-charcoal feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/electron/electron+howitworks.jpg" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("products.electron.howitworks.header") %></h2>
									<p class="lead color-grey-light"><%= t("products.electron.howitworks.lead") %></p>
									<p class="color-grey-light"><%= t("products.electron.howitworks.body.part1") %><br><br>
										 <%= t("products.electron.howitworks.body.part2") %></p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Feature Section 2 End -->
				<div class="section-block replicable-content bkg-electrol">
					<div class="row">
						<div class="column width-8 offset-2 center color-white">
							<h2 class="mb-30"><%= t("products.electron.tech.header") %></h2>
							<p class="lead mb-70"><%= t("products.electron.tech.subheader") %></p>
						</div>
						<div class="column width-6">
							<div class="box xlarge bkg-grey-ultralight">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-tools color-electrol"></span>
									<div class="feature-text">
										<h3><%= t("products.electron.tech.boxes.erlang.header") %></h3>
										<p class="mb-70 mb-mobile-30"><%= t("products.electron.tech.boxes.erlang.text") %></p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge bkg-white">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-rocket color-electrol"></span>
									<div class="feature-text">
										<h3><%= t("products.electron.tech.boxes.rtp.header") %></h3>
										<p class="mb-70 mb-mobile-30"><%= t("products.electron.tech.boxes.rtp.text") %></p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge bkg-white">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-shuffle color-electrol"></span>
									<div class="feature-text">
										<h3><%= t("products.electron.tech.boxes.cloud.header") %></h3>
										<p class="mb-70 mb-mobile-30"><%= t("products.electron.tech.boxes.cloud.text") %></p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge bkg-grey-ultralight">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-swap color-electrol"></span>
									<div class="feature-text">
										<h3><%= t("products.electron.tech.boxes.latency.header") %></h3>
										<p><%= t("products.electron.tech.boxes.latency.text") %></p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge bkg-grey-ultralight">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-medal color-electrol"></span>
									<div class="feature-text">
										<h3><%= t("products.electron.tech.boxes.quality.header") %></h3>
										<p><%= t("products.electron.tech.boxes.quality.text") %></p>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-6">
							<div class="box xlarge bkg-white">
								<div class="feature-column medium left center-on-mobile">
									<span class="feature-icon icon-facebook color-electrol"></span>
									<div class="feature-text">
										<h3><%= t("products.electron.tech.boxes.ui.header") %></h3>
										<p><%= t("products.electron.tech.boxes.ui.text") %></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column width-8 offset-2 center">
						<a href="/pdf/electron_tech_specs.pdf" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("products.electron.tech.more") %></a>
          </div>
				</div>




			</div>
			<section id="pricing" class="section-block replicable-content">
			  <div class="row">
			    <div class="column width-6 offset-3 center">
			      <h2><%= t("products.electron.pricing.header") %></h2>
			      <p class="lead mb-50"><%= t("products.electron.pricing.subheader") %></p>
			    </div>
			    <div class="column width-12">
			      <div class="pricing-table columns-2 horizon" data-animate-in="opacity:0;transY:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
			        <div class="pricing-table-column">
			          <div class="pricing-table-header">
			            <h2 class="weight-bold"><%= t("products.electron.pricing.table.prepaid.header") %></h2>
			          </div>
			          <div class="pricing-table-price bkg-white color-grey no-margin-bottom">
			            <h4>
			              <span class="currency">$</span>5.00<span class="interval">/<%= t("products.electron.pricing.table.prepaid.unit") %></span>
			            </h4>
			          </div>
			          <ul class="pricing-table-options">
			            <li><%= t("products.electron.pricing.table.prepaid.line1") %></li>
			            <li><%= t("products.electron.pricing.table.prepaid.line2") %></li>
			            <li><%= t("products.electron.pricing.table.prepaid.line3") %></li>
			            <li><%= t("products.electron.pricing.table.prepaid.line4") %></li>
			            <li><%= t("products.electron.pricing.table.prepaid.line5") %></li>
			          </ul>
			          <div class="pricing-table-footer">
			           <a href="contact.html">
			            <button class="border-electrol bkg-hover-electrol color-electrol color-hover-white"><%= t("products.electron.pricing.table.prepaid.action") %></button>
			          </a>
			          </div>
			        </div>
			        <div class="pricing-table-column bkg-electrol">
			          <div class="pricing-table-header color-white">
			            <h2 class="weight-bold"><%= t("products.electron.pricing.table.contract.header") %></h2>
			          </div>
			          <div class="pricing-table-price bkg-electrol no-margin-bottom">
			            <h4>
			              <span class="currency">$</span>99.99<span class="interval">/<%= t("products.electron.pricing.table.contract.unit") %></span>
			            </h4>
			          </div>
			          <ul class="pricing-table-options color-white">
			            <li><%= t("products.electron.pricing.table.contract.line1") %></li>
			            <li><%= t("products.electron.pricing.table.contract.line2") %></li>
			            <li><%= t("products.electron.pricing.table.contract.line3") %></li>
			            <li><%= t("products.electron.pricing.table.contract.line4") %></li>
			            <li><%= t("products.electron.pricing.table.contract.line5") %></li>
			          </ul>
			          <div class="pricing-table-footer">
			           <a href="contact.html">
			            <button class="border-white bkg-hover-white color-white color-hover-electrol"><%= t("products.electron.pricing.table.contract.action") %></button>
			           </a>
			          </div>
			        </div>
			    <div class="column width-12 center">
			      <br><p class="color-black weight-bold"><%= t("products.electron.pricing.disclaimer") %></p>
			    </div>
			  </div>
			</section>
			<!-- Content End -->

			<!-- Footer -->
			<!-- Footer End -->

		</div>
	</div>




	<!-- Js -->
