
			<div class="content clearfix">

				<!-- Feature Section 3 -->
				<section class="section-block feature-3 bkg-charcoal">
					<div class="feature-content">
						<div class="feature-content-inner left pt-80 pb-30">
							<div class="row">
								<div class="column width-4">
									<div class="thumbnail mb-20">
										<img class="profile-image large rounded" src="images/engine/engine_logo.png" alt="">
									</div>
								</div>
								<div class="column width-8">
									<h1 class="title-large mb-20 color-white"><%= t("engine.header.title") %></h1>

								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Feature Section 3 -->

				<!-- Intro Section -->
				<section id="about" class="section-block replicable-content">
					<div class="row">
						<div class="column width-4">
							<h2 class="mb-80"><%= t("engine.intro.header.title") %><br><%= t("engine.intro.header.title2") %></h2>
						</div>
						<div class="column width-8">
							<p class="mb-50"><%= t("engine.intro.text") %></p>
							<h5 class="mb-40"><%=t ("engine.intro.usecases.title") %></h5>
							<div class="row">
								<div class="column width-5">
									<div class="stat mb-mobile-20 color-turquoise no-margin-bottom">
										<div class="stat-inner">
											<p class="counter no-margin-bottom title-medium weight-bold"><span class="stat-counter" data-count-from="1" data-count-to="100">100</span>%</p>
											<p class="description text-uppercase mb-20"><%=t ("engine.intro.usecases.glue") %></p>
										</div>
									</div>
									<div class="progress-bar small bkg-grey-ultralight">
										<div class="bar bkg-turquoise color-white percent-100 horizon"
											data-animate-in="transX:-300;duration:2200ms;delay:200ms;easing:easeIn;">
										</div>
									</div>
								</div>
								<div class="column width-5">
									<div class="stat mb-mobile-20 color-turquoise no-margin-bottom">
										<div class="stat-inner">
											<p class="counter no-margin-bottom title-medium weight-bold"><span class="stat-counter" data-count-from="1" data-count-to="100">100</span>%</p>
											<p class="description text-uppercase mb-20"><%=t ("engine.intro.usecases.automation") %></p>
										</div>
									</div>
									<div class="progress-bar small bkg-grey-ultralight">
										<div class="bar bkg-turquoise color-white percent-100 horizon"
											data-animate-in="transX:-300;duration:2000ms;delay:200ms;easing:easeIn;">
										</div>
									</div>
								</div>
								<div class="column width-5">
									<div class="stat mb-mobile-20 color-turquoise no-margin-bottom">
										<div class="stat-inner">
											<p class="counter no-margin-bottom title-medium weight-bold"><span class="stat-counter" data-count-from="1" data-count-to="100">100</span>%</p>
											<p class="description text-uppercase mb-20"><%=t ("engine.intro.usecases.remote") %></p>
										</div>
									</div>
									<div class="progress-bar small bkg-grey-ultralight">
										<div class="bar bkg-turquoise color-white percent-100 horizon"
											data-animate-in="transX:-300;duration:2400ms;delay:200ms;easing:easeIn;">
										</div>
									</div>
								</div>
								<div class="column width-5">
									<div class="stat mb-mobile-20 color-turquoise no-margin-bottom">
										<div class="stat-inner">
											<p class="counter no-margin-bottom title-medium weight-bold"><span class="stat-counter" data-count-from="1" data-count-to="100">100</span>%</p>
											<p class="description text-uppercase mb-20"><%=t ("engine.intro.usecases.custom") %></p>
										</div>
									</div>
									<div class="progress-bar small bkg-grey-ultralight">
										<div class="bar bkg-turquoise color-white percent-100 horizon"
											data-animate-in="transX:-300;duration:2400ms;delay:200ms;easing:easeIn;">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Intro Section End -->

				<!-- Timeline Section -->
				<section class="section-block replicable-content no-padding-top">
					<div class="row">
						<div class="column width-12">
							<hr class="mb-110">
						</div>
					</div>
					<div class="row">
						<div class="column width-4">
							<h2 class="mb-80"><%= t("engine.section2.usecases.title1") %><br><%= t("engine.section2.usecases.title2") %></h2>
						</div>
						<div class="column width-8">
							<ul class="timeline">
								<li><br>
									<div class="row">
										<div class="timeline-title column width-4">
											<h5 class="description color-turquoise text-uppercase mb-30 title-medium weight-bold"><%= t("engine.section2.usecases.glue.title") %></h5>
										</div>
										<div class="timeline-description column width-8">
											<h5 class="mb-10"></h5>
											<p class="mb-40"><%= t("engine.section2.usecases.glue.text") %></p>
										</div>
									</div>
								</li>
								<li><br>
									<div class="row">
										<div class="timeline-title column width-4">
											<h5 class="description color-turquoise text-uppercase mb-30 title-medium weight-bold"><%= t("engine.section2.usecases.automation.title") %></h5>
										</div>
										<div class="timeline-description column width-8">
											<h5 class="mb-10"></h5>
											<p class="mb-40"><%= t("engine.section2.usecases.automation.text") %></p>
										</div>
									</div>
								</li>
								<li><br>
									<div class="row">
										<div class="timeline-title column width-4">
											<h5 class="description color-turquoise text-uppercase mb-30 title-medium weight-bold"><%= t("engine.section2.usecases.remote.title") %></h5>
										</div>
										<div class="timeline-description column width-8">
											<h5 class="mb-10"></h5>
											<p class="mb-40"><%= t("engine.section2.usecases.remote.text1") %><br><br><%= t("engine.section2.usecases.remote.text2") %></p>
										</div>
									</div>
								</li>
								<li><br>
									<div class="row">
										<div class="timeline-title column width-4">
											<h5 class="description color-turquoise text-uppercase mb-30 title-medium weight-bold"><%= t("engine.section2.usecases.custom.title") %></h5>
										</div>
										<div class="timeline-description column width-8">
											<h5 class="mb-5"></h5>
											<p class="mb-40"><%= t("engine.section2.usecases.custom.text1") %><br><br><%= t("engine.section2.usecases.custom.text2") %></p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<section class="section-block replicable-content no-padding-top">
					<div class="row">
						<div class="column width-12">
							<hr class="mb-110">
						</div>
					</div>
					<div class="row">
						<div class="column width-4">
							<h2 class="mb-80"><%= t("engine.section3.philosophy.title1") %></h2>
						</div>
						<div class="column width-8">
							<ul class="timeline">
								<li><br>
									<div class="row">
										<div class="timeline-title column width-4">
											<h5 class="description color-turquoise text-uppercase mb-30 title-medium weight-bold"><%= t("engine.section3.philosophy.designed.title") %></h5>
										</div>
										<div class="timeline-description column width-8">
											<h5 class="mb-10"></h5>
											<p class="mb-40"><%= t("engine.section3.philosophy.designed.text1") %>
												<br><br><%= t("engine.section3.philosophy.designed.text2") %>
												<br><br><%= t("engine.section3.philosophy.designed.text3") %></p>
												<div class="right">
													<a href="#" class="button right text-uppercase bkg-turquoise border-hover-turquoise color-white color-hover-black mb-mobile-30"><%= t("engine.section3.philosophy.code_examples.title") %></a>
											</div>
										</div>
									</div>
								</li>
								<li><br>
									<div class="row">
										<div class="timeline-title column width-4">
											<h5 class="description color-turquoise text-uppercase mb-30 title-medium weight-bold">
												<%= t("engine.section3.philosophy.multiplatform.title1") %>
											<br><%= t("engine.section3.philosophy.multiplatform.title2") %>
                      <br><%= t("engine.section3.philosophy.multiplatform.title3") %>
										</h5>
										</div>
										<div class="timeline-description column width-8">
											<h5 class="mb-10"></h5>
											<p class="mb-40"><%= t("engine.section3.philosophy.multiplatform.text1") %>
											<br><br><%= t("engine.section3.philosophy.multiplatform.text2") %>
										  <br><br><%= t("engine.section3.philosophy.multiplatform.text3") %></p>
												<div class="right">
													<a href="#" class="button right text-uppercase bkg-turquoise border-hover-turquoise color-white color-hover-black mb-mobile-30"><%= t("engine.section3.philosophy.code_examples.title") %></a>
											</div>
										</div>
									</div>
								</li>
								<li><br>
									<div class="row">
										<div class="timeline-title column width-4">
											<h5 class="description color-turquoise text-uppercase mb-30 title-medium weight-bold"><%= t("engine.section3.philosophy.gentle.title") %></h5>
										</div>
										<div class="timeline-description column width-8">
											<h5 class="mb-10"></h5>
											<p class="mb-40"><%= t("engine.section3.philosophy.gentle.text1") %>
												<br><br><%= t("engine.section3.philosophy.gentle.text2") %></p>
												<div class="right">
													<a href="#" class="button right text-uppercase bkg-turquoise border-hover-turquoise color-white color-hover-black mb-mobile-30"><%= t("engine.section3.philosophy.code_examples.title") %></a>
											</div>
										</div>
									</div>
								</li>
								<li><br>
									<div class="row">
										<div class="timeline-title column width-4">
											<h5 class="description color-turquoise text-uppercase mb-30 title-medium weight-bold"><%= t("engine.section3.philosophy.affordable.title") %></h5>
										</div>
										<div class="timeline-description column width-8">
											<h5 class="mb-5"></h5>
											<p class="mb-40"><%= t("engine.section3.philosophy.affordable.text1") %>
												<br><br><%= t("engine.section3.philosophy.affordable.text2") %>
											  <br><br><%= t("engine.section3.philosophy.affordable.text3") %></p>
												<div class="right">
													<a href="#" class="button right text-uppercase bkg-turquoise border-hover-turquoise color-white color-hover-black mb-mobile-30"><%= t("engine.section3.philosophy.code_examples.title") %></a>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<!-- Timeline End -->


			<!-- Content End -->

			<!-- Footer -->

			<!-- Footer End -->

		</div>
	</div>

	<!-- Js -->
