		<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Fullscreen Sections -->
				<section class="fullscreen-sections-wrapper">
					<div id="fs-1" class="section-block fullscreen-section">
						<div class="background-slider-wrapper">
							<!-- Fullscreen Slider -->
							<div class="tm-slider-container fullscreen" data-featured-slider data-fs-use-height="parent" data-auto-advance data-auto-advance-interval="4000" data-pause-on-hover="false" data-progress-bar="false" data-nav-arrows="false" data-nav-pagination="false" data-speed="2800" data-animation="fade" data-scale-under="1">
								<ul class="tms-slides">
									<li class="tms-slide" data-image data-force-fit>
										<img data-src="images/travel-agency/slider/slide-6-fs.jpg" data-retina src="images/blank.png" alt=""/>
									</li>
								</ul>
							</div>
							<!-- Fullscreen Slider End -->
						</div>
						<div class="fullscreen-inner">
							<div class="row">
								<div class="column width-10 pt-50 offset-1 center horizon" data-animate-in="opacity:0;transY:50;duration:1000ms;easing:easeFastSlow;" data-threshold="1">
									<h5 class="text-uppercase lspacing-small mb-10 weight-bold color-white"><%= t("index.brand.preheader") %></h5>
									<div class="clear"></div>
									<h1 class="title-xlarge no-padding-on-mobile text-uppercase lspacing-medium mb-20 weight-bold color-white"><%= t("index.brand.header") %></h1>
									<div class="row">
										<div class="column width-6 offset-3 weight-light">
											<p class="color-white text-small">m<%= t("index.brand.subheader") %></p>
											<!--<a class="lightbox-link icon-circled icon-play medium border-white color-white color-hover-white bkg-hover-purple  text-line-vertical" data-lightbox-animation="fade" href="http://player.vimeo.com/video/94614809?autoplay=1"></a>-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="fs-2" class="section-block fullscreen-section background-cover background-fixed content-below-on-mobile" data-width="2500" data-height="1667">
						<!-- Fullscreen Image -->
						<div class="background-image-wrapper">
							<div class="background-image fullscreen-bkg-2"></div>
						</div>
						<!-- Fullscreen Image End -->
						<div class="fullscreen-inner">
							<div class="row">
								<div class="column width-12 center color-white horizon" data-animate-in="opacity:0;transX:-50;duration:1500ms;delay:200ms;easing:easeFastSlow;" data-threshold="1">
									<h6 class="lead no-margin-bottom text-uppercase lspacing-small"><%= t("index.product1.motto") %></h6>
									<h1 class="title-large mb-10 mb-mobile-30 no-padding-on-mobile text-uppercase weight-bold lspacing-small"><%= t("index.product1.name") %></h1>
									<div class="row">
										<div class="column width-6 offset-3 center">
											<p class="text-medium"><%= t("index.product1.price") %></p>
											<a href="electron.html" class="button text-uppercase bkg-purple border-hover-white color-white color-hover-white mb-mobile-30"><%= t("index.product1.findout") %></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="fs-3" class="section-block fullscreen-section background-cover background-fixed content-below-on-mobile" data-width="2500" data-height="1667">
						<!-- Fullscreen Image -->
						<div class="background-image-wrapper">
							<div class="background-image fullscreen-bkg-2"></div>
						</div>
						<!-- Fullscreen Image End -->
						<div class="fullscreen-inner">
							<div class="row">
								<div class="column width-12 center color-white horizon" data-animate-in="opacity:0;transX:-50;duration:1500ms;delay:200ms;easing:easeFastSlow;" data-threshold="1">
									<h6 class="lead no-margin-bottom text-uppercase lspacing-small"><%= t("index.product2.motto") %></h6>
									<h1 class="title-large mb-10 mb-mobile-30 no-padding-on-mobile text-uppercase weight-bold lspacing-small"><%= t("index.product2.name") %></h1>
									<div class="row">
										<div class="column width-6 offset-3 center">
											<p class="text-medium"><%= t("index.product2.price") %></p>
											<a href="freezer.html" class="button text-uppercase bkg-purple border-hover-white color-white color-hover-white mb-mobile-30"><%= t("index.product2.findout") %></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="fs-4" class="section-block fullscreen-section background-cover background-fixed content-below-on-mobile" data-width="2500" data-height="1667">
						<!-- Fullscreen Image -->
						<div class="background-image-wrapper">
							<div class="background-image fullscreen-bkg-3"></div>
						</div>
						<!-- Fullscreen Image End -->
						<div class="fullscreen-inner">
							<div class="row">
								<div class="column width-12 center color-white horizon" data-animate-in="opacity:0;transX:50;duration:1500ms;delay:200ms;easing:easeFastSlow;" data-threshold="1">
									<h6 class="lead no-margin-bottom text-uppercase lspacing-small"><%= t("index.product3.motto") %></h6>
									<h1 class="title-large mb-10 mb-mobile-30 no-padding-on-mobile text-uppercase weight-bold lspacing-small"><%= t("index.product3.name") %></h1>
									<div class="row">
										<div class="column width-6 offset-3 center">
											<p class="text-medium"><%= t("index.product3.price") %></p>
											<a href="chronicle.html" class="button text-uppercase bkg-purple border-hover-white color-white color-hover-white mb-mobile-30"><%= t("index.product3.findout") %></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</section>
				<!-- Fullscreen Sections End -->

				<!-- Hero Section 5

				Hero Section 5 End -->

				<!-- Pricing Options -->

				<!-- Pricing Options End -->

				<!-- Stat Section 1

				Stat Section 1 -->

				<!-- Sign Up Section 2

				Sign Up Section 2 End -->

				<!-- Call to Action Section -->

				<!-- Call to Action Section End -->

				<!-- Login Modal -->
				<div id="login-lightbox" class="pt-70 pb-50 hide">
					<div class="row">
						<div class="column width-12 left">
							<div class="login-form-container">
								<h3 class="mb-20">Login</h3>
								<p class="mb-30">Don't have an account? Choose a plan and sign up. <a href="#">See Plans</a>.</p>
								<form class="login-form" action="#" method="post" novalidate>
									<div class="row">
										<div class="column width-12">
											<div class="field-wrapper">
												<input type="text" name="email" class="form-name form-element large" placeholder="E-mail" tabindex="1" required>
											</div>
										</div>
										<div class="column width-12">
											<div class="field-wrapper">
												<input type="password" name="password" class="form-email form-element large" placeholder="Password" tabindex="2" required>
											</div>
										</div>
										<div class="column width-6">
											<input type="submit" value="Sign In" class="form-submit button medium bkg-purple bkg-hover-charcoal color-white color-hover-white no-margin-bottom">
										</div>
										<div class="column width-6 right left-on-mobile">
											<a class="recuperate-password pt-10" href="">Forgot Password?</a>
										</div>
									</div>
									<input type="text" name="honeypot" class="form-honeypot form-element">
								</form>
								<div class="form-response color-white"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- Login Modal End -->

			</div>
			<!-- Content End -->

			<!-- Footer -->

			<!-- Footer End -->

		</div>
	</div>

	<!-- Js -->
