
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Slide Section 1 -->


				<section class="section-block featured-media window-height tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-auto-advance data-auto-advance-interval="7000" data-speed="1300" data-progress-bar="false" data-nav-arrows="false" data-pause-on-hover="false" data-scale-under="1">
						<ul class="tms-slides">

					<!-- Traxvibes -->
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#202123" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("users.traxvibes.title") %></h1>
													<p class="lead mb-30 color-white"><%= t("users.traxvibes.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
													<p><a href="http://traxvibes.com" target="blank" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("users.traxvibes.goto") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/users/traxvibes.png"  src="images/blank.jpg" alt=""/>
							</li>

					<!-- RadioJazzFM -->
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#202123" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("users.radiojazzfm.title") %></h1>
													<p class="lead mb-30 color-white"><%= t("users.radiojazzfm.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
													<p><a href="http://radiojazz.fm" target="blank" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("users.radiojazzfm.goto") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/users/radiojazzfm.png"  src="images/blank.jpg" alt=""/>
							</li>

					<!-- LEM FM -->
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#202123" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("users.lemfm.title") %></h1>
													<p class="lead mb-30 color-white"><%= t("users.lemfm.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
													<p><a href="http://lem.fm" target="blank" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("users.lemfm.goto") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/users/lemfm.png"  src="images/blank.jpg" alt=""/>
							</li>

						<!-- AudioAsyl -->
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#202123" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("users.audioasyl.title") %></h1>
													<p class="lead mb-30 color-white"><%= t("users.audioasyl.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
													<p><a href="http://lem.fm" target="blank" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("users.audioasyl.goto") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/users/audioasyl.png"  src="images/blank.jpg" alt=""/>
							</li>

						<!-- indeplatforma -->
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#202123" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("users.indeplatforma.title") %></h1>
													<p class="lead mb-30 color-white"><%= t("users.indeplatforma.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
													<p><a href="http://lem.fm" target="blank" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("users.indeplatforma.goto") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/users/indeplatforma.png"  src="images/blank.jpg" alt=""/>
							</li>

						<!-- radionula -->
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#202123" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("users.radionula.title") %></h1>
													<p class="lead mb-30 color-white"><%= t("users.radionula.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
													<p><a href="http://lem.fm" target="blank" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("users.radionula.goto") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/users/radionula.png"  src="images/blank.jpg" alt=""/>
							</li>

						<!-- transmisja -->
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#202123" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("users.transmisja.title") %></h1>
													<p class="lead mb-30 color-white"><%= t("users.transmisja.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
													<p><a href="http://lem.fm" target="blank" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("users.transmisja.goto") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/users/transmisja.png"  src="images/blank.jpg" alt=""/>
							</li>

						<!-- aquapark -->
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#202123" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("users.aquapark.title") %></h1>
													<p class="lead mb-30 color-white"><%= t("users.aquapark.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
													<p><a href="http://lem.fm" target="blank" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("users.aquapark.goto") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/users/aquapark.png"  src="images/blank.jpg" alt=""/>
							</li>

						<!-- zamosc -->
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#202123" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("users.zamosc.title") %></h1>
													<p class="lead mb-30 color-white"><%= t("users.zamosc.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
													<p><a href="http://lem.fm" target="blank" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("users.zamosc.goto") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/users/zamosc.png"  src="images/blank.jpg" alt=""/>
							</li>

						<!-- tallships -->
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#202123" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("users.tallships.title") %></h1>
													<p class="lead mb-30 color-white"><%= t("users.tallships.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
													<p><a href="http://lem.fm" target="blank" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("users.tallships.goto") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/users/tallships.png"  src="images/blank.jpg" alt=""/>
							</li>

						<!-- soundmaps -->
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#202123" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("users.soundmaps.title") %></h1>
													<p class="lead mb-30 color-white"><%= t("users.soundmaps.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
													<p><a href="http://lem.fm" target="blank" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("users.soundmaps.goto") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/users/soundmaps.png"  src="images/blank.jpg" alt=""/>
							</li>

						<!-- reconnect -->
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#202123" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("users.reconnect.title") %></h1>
													<p class="lead mb-30 color-white"><%= t("users.reconnect.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
													<p><a href="http://lem.fm" target="blank" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("users.reconnect.goto") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/users/reconnect.png"  src="images/blank.jpg" alt=""/>
							</li>

						<!-- boukoki -->
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#202123" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("users.boukoki.title") %></h1>
													<p class="lead mb-30 color-white"><%= t("users.boukoki.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
													<p><a href="http://lem.fm" target="blank" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("users.boukoki.goto") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/users/boukoki.png"  src="images/blank.jpg" alt=""/>
							</li>

						<!-- ideosync -->
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#202123" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("users.ideosync.title") %></h1>
													<p class="lead mb-30 color-white"><%= t("users.ideosync.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
													<p><a href="http://lem.fm" target="blank" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("users.ideosync.goto") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/users/ideosync.png"  src="images/blank.jpg" alt=""/>
							</li>

						<!-- gurgaon -->
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#202123" data-overlay-bkg-opacity="0.3" data-animation="slideLeftRight">
								<div class="tms-content">
									<div class="tms-content-inner left pt-50 no-padding-on-mobile">
										<div class="row">
											<div class="column width-5">
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:100ms;easing:easeFastSlow;"
													data-no-scale
												>
													<h1 class="color-white"><%= t("users.gurgaon.title") %></h1>
													<p class="lead mb-30 color-white"><%= t("users.gurgaon.claim") %></p>
												</div>
												<div class="tms-caption"
													data-animate-in="opacity:0;transY:50px;duration:600ms;delay:500ms;easing:easeFastSlow;"
													data-no-scale>
													<p><a href="http://lem.fm" target="blank" class="button medium bkg-white border-hover-white color-charcoal color-hover-white left mb-30"><%= t("users.gurgaon.goto") %></a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/users/gurgaon.png"  src="images/blank.jpg" alt=""/>
							</li>


						</ul>
					</div>
				</section>
				<!-- Slide Section End -->


				<!-- What we do 2 -->
				<section id="whatwedo" class="section-block bkg-charcoal feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/whatwedo.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.whatwedo.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.whatwedo.lead") %></p>
									<p class="color-grey-light"><%= t("users.whatwedo.body.part1") %><br>
									<br>	 <%= t("users.whatwedo.body.part2") %><br>
									<br>   <%= t("users.whatwedo.body.part3") %>
									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="traxvibes" class="section-block bkg-grey feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/traxvibes.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.traxvibes.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.traxvibes.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.traxvibes.body.part1") %><br>
									<br><%= t("users.traxvibes.body.part2") %>
									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>

				
				<section id="radiojazzfm" class="section-block bkg-charcoal feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/radiojazzfm.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.radiojazzfm.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.radiojazzfm.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.radiojazzfm.body.part1") %><br>
									<br><%= t("users.radiojazzfm.body.part2") %>
									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="lemfm" class="section-block bkg-grey feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/lemfm.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.lemfm.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.lemfm.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.lemfm.body.part1") %><br>
									<br><%= t("users.lemfm.body.part2") %><br>
									<br><%= t("users.lemfm.body.part3") %>
									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="audioasyl" class="section-block bkg-charcoal feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/audioasyl.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.audioasyl.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.audioasyl.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.audioasyl.body.part1") %><br>
									<br><%= t("users.audioasyl.body.part2") %><br>
									<br><%= t("users.audioasyl.body.part3") %>
									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="indeplatforma" class="section-block bkg-grey feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/indeplatforma.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.indeplatforma.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.indeplatforma.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.indeplatforma.body.part1") %><br>
									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="radionula" class="section-block bkg-charcoal feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/radionula.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.radionula.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.radionula.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.radionula.body.part1") %><br>
									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="transmisja" class="section-block bkg-grey feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/transmisja.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.transmisja.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.transmisja.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.transmisja.body.part1") %><br><br><p class="color-grey-light"><%= t("users.transmisja.body.part1") %>
									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="aquapark" class="section-block bkg-charcoal feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/aquapark.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.aquapark.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.aquapark.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.aquapark.body.part1") %><br><br>
									<%= t("users.aquapark.body.part2") %><br><br>
									<%= t("users.aquapark.body.part3") %>

									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="zamosc" class="section-block bkg-grey feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/zamosc.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.zamosc.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.zamosc.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.zamosc.body.part1") %><br><br>
									<%= t("users.zamosc.body.part2") %><br>
									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="tallships" class="section-block bkg-charcoal feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/tallships.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.tallships.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.tallships.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.tallships.body.part1") %><br>
									<br><%= t("users.tallships.body.part2") %>
									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="soundmaps" class="section-block bkg-grey feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/soundmaps.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.soundmaps.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.soundmaps.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.soundmaps.body.part1") %><br>
									<br><%= t("users.soundmaps.body.part2") %><br>
									<br><%= t("users.soundmaps.body.part3") %>

									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>


				<section id="reconnect" class="section-block bkg-charcoal feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/reconnect.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.reconnect.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.reconnect.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.reconnect.body.part1") %><br>
									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>


				<section id="boukoki" class="section-block bkg-grey feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/boukoki.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.boukoki.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.boukoki.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.boukoki.body.part1") %><br>
									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="ideosync" class="section-block bkg-charcoal feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/ideosync.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.ideosync.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.ideosync.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.ideosync.body.part1") %><br>
									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>


				<section id="gurgaon" class="section-block bkg-grey feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/gurgaon.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.gurgaon.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.gurgaon.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.gurgaon.body.part1") %><br>
									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="otherhelp" class="section-block bkg-charcoal feature-2">
					<div class="row equalize">
						<div class="column width-6 push-5 offset-1">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="opacity:0;transX:50;duration:1000;easing:easeFastSlow;" data-threshold="0.6">
									<img src="images/users/otherhelp.png" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-7">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="opacity:0;transY:50;duration:1000;delay:300ms;easing:easeFastSlow;" data-threshold="0.6">
									<h2 class="mb-30 color-white"><%= t("users.otherhelp.body.header") %></h2>
									<p class="lead color-grey-light"><%= t("users.otherhelp.body.lead") %></p>
									<p class="color-grey-light"><%= t("users.otherhelp.body.part1") %><br>
									<p class="color-grey-light"><%= t("users.otherhelp.body.part2") %><br>
									<br> - <%= t("users.otherhelp.list.position1") %>
									<br> - <%= t("users.otherhelp.list.position2") %>
									<br> - <%= t("users.otherhelp.list.position3") %>
									<br> - <%= t("users.otherhelp.list.position4") %>
									<br> - <%= t("users.otherhelp.list.position5") %>
									<br> - <%= t("users.otherhelp.list.position6") %>
									<br> - <%= t("users.otherhelp.list.position7") %>
									<br> - <%= t("users.otherhelp.list.position8") %>
									<br> - <%= t("users.otherhelp.list.position9") %>




									 </p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="userscontact" class="section-block bkg-black replicable-content contact-2">
				    <div class="row">
				      <div class="column width-8 offset-2 center">
				        <br><br><br><br>
				        <h2 class="mb-30 color-white"><%= t("users.contact.header") %></h2>
				        <p class="lead color-white"><%= t("users.contact.line1") %></p>

				        <div class="contact-form-container">
				          <form action="https://formspree.io/info@foundation-radiokit.org"
				                method="POST"
				                target="_blank">
				            <div class="row">
				              <div class="column width-6">
				                <input type="text" name="name" class="form-fname form-element large" placeholder="<%= t("users.contact.name") %>" tabindex="1" required>
				              </div>
				              <div class="column width-6">
				                <input type="email" name="email" class="form-email form-element large" placeholder="<%= t("users.contact.mail") %>" tabindex="3" required>
				              </div>
				            </div>
				            <div class="row">
				              <div class="column width-12 center">
				                <textarea name="message" class="form-message form-element large" placeholder="<%= t("users.contact.message") %>" tabindex="5" required></textarea>
				                <input type="submit" value="Send Email" class="form-submit button medium bkg-black bkg-hover-pink color-white color-hover-white">
				              </div>
				            </div>
				          </form>
				          <div class="form-response center"></div>
				        </div>
				      </div>
				    </div>
				  </section>

				</div>




			</div>
		</div>
	</div>



	<!-- Js -->
