<div class="section-block logos-1 pt-50 pb-50 bkg-grey-ultralight color-charcoal">
  <div class="row">
    <div class="column width-3 center-on-mobile">
      <h3 class="mb-5 mb-mobile-30"><%= t("clients.happy") %></h3>
        </div>
          <div class="column width-3 right center-on-mobile">
          <blockquote class="icon">
            <span class="icon-quote"></span>
            <p><%= t("clients.radiofonia.quote") %></p>
            <cite><%= t("clients.radiofonia.title") %></cite>
          </blockquote>
          </a>
        </div>
        <div class="column width-3 right center-on-mobile">
          <blockquote class="icon">
            <span class="icon-quote"></span>
            <p><%= t("clients.nofm.quote") %></p>
            <cite><%= t("clients.nofm.title") %></cite>
          </blockquote>
          </a>
        </div>
          <div class="column width-3 right center-on-mobile">
          <blockquote class="icon">
            <span class="icon-quote"></span>
            <p><%= t("clients.lemfm.quote") %></p>
            <cite><%= t("clients.lemfm.title") %></cite>
          </blockquote>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
