<div class="wrapper reveal-side-navigation">
  <div class="wrapper-inner">
<!-- Side (mobile) Navigation Menu -->

<!-- Side (mobile) Navigation Menu End -->
<!-- Header -->
    <header class="header header-absolute header-fixed-on-mobile header-transparent" data-helper-in-threshold="300" data-helper-out-threshold="500" data-sticky-threshold="300" data-bkg-threshold="300" data-compact-threshold="300">
      <div class="header-inner-top">
        <div class="row nav-bar" style="position: relative; top: .5em;">
          <div class="column width-6 nav-bar-inner left">

            <p><%= t("header.motto") %></p>

          </div>
          <div class="column width-6 nav-bar-inner right color-white">
            <p><a href="https://facebook.com/RadioKitEngine" class="nav-icon">
              <span class="icon-facebook small"></span> | <a href="https://twitter.com/RadioKitEngine" class="nav-icon">
                <span class="icon-twitter small"></span>
              </a> | <%= t("header.mailus") %> <a href="mailto:info@foundation-radiokit.org">info@foundation-radiokit.org</a></p>
          </div>
        </div>
      </div>
      <div class="header-inner">
        <div class="row nav-bar">
          <div class="column width-12 nav-bar-inner">
            <div class="logo">
              <div class="logo-inner">
                <a href="index.html"><img src="images/logo-dark.png" alt="Radiokit Logo" /></a>
                <a href="index.html"><img src="images/logo.png" alt="Radiokit Logo" /></a>
              </div>
            </div>

            <nav class="navigation nav-block secondary-navigation nav-right">
              <ul>
                <li class="current contains-sub-menu">

                    <a href="gstreamer.html"><%= t("header.menu.services.title") %></a>
                    <ul class="sub-menu">

                      <li>
                        <a href="icecast.html"><%= t("header.menu.services.icecast") %></a>
                      </li>


                      <li>
                        <a href="gstreamer.html"><%= t("header.menu.services.gstreamer") %></a>
                      </li>

                      <!-- <li>
                        <a href="elixir.html"><%= t("header.menu.services.elixir") %></a>
                      </li>


                      <li>
                        <a href="react-native.html"><%= t("header.menu.services.reactnative") %></a>
                      </li> -->


                    </ul>
                  </li>
              <li class="current contains-sub-menu">

                  <a href="chronicle.html"><%= t("header.menu.Open-source.title") %></a>
                  <ul class="sub-menu">
                    <!--<li>
                      <a href="dyna.html"><%= t("header.menu.Open-source.dyna.title") %></a>

                    </li>-->
                    <li>
                      <a href="chronicle.html"><%= t("header.menu.Open-source.chronicle.title") %></a>
                    </li>
                    <li>
                      <a href="audiomatic.html"><%= t("header.menu.Open-source.audiomatic.title") %></a>
                    </li>
                  </ul>
                </li>

                <li class="contains-sub-menu">

                  <a href="soundmapping.html"><%= t("header.menu.Projects.title") %></a>

                  <ul class="sub-menu">
                    <li>
                      <a href="soundmapping.html"><%= t("header.menu.Projects.Soundmapping.title") %></a>
                    </li>
                    <li>
                      <a href="celebrating.html"><%= t("header.menu.Projects.Celebrating.title") %></a>
                    </li>
                  </ul>
                </li>

                <!-- <li class="contains-sub-menu">

                  <a href="work_in_progress.html"><%= t("header.menu.Free.title") %></a>

                  <ul class="sub-menu">
                    <li>
                      <a href="work_in_progress.html"><%= t("header.menu.Free.mobile-app.title") %></a>
                    </li>
                    <li>
                      <a href="work_in_progress.html"><%= t("header.menu.Free.streaming.title") %></a>
                    </li>
                  </ul>
                </li> -->



              <li>
                <a href="about.html"><%= t("header.menu.about.title") %></a>
              </li>
                <li>
                  <a href="contact.html"><%= t("header.menu.contact.title") %></a>

                </li>
                <!--
                <li class="contains-sub-menu sub-menu-right">
                  <a href="product-subpage.html">Jobs</a>-->
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>
