<div class="wrapper reveal-side-navigation">
  <div class="wrapper-inner">
<!-- Side (mobile) Navigation Menu -->

<!-- Side (mobile) Navigation Menu End -->
<!-- Header -->
    <header class="header header-absolute header-fixed-on-mobile header-transparent" data-helper-in-threshold="300" data-helper-out-threshold="500" data-sticky-threshold="300" data-bkg-threshold="300" data-compact-threshold="300">
      <div class="header-inner-top">
        <div class="row nav-bar">
          <div class="column width-6 nav-bar-inner left">

            <p><%= t("header.motto") %></p>

          </div>
          <div class="column width-6 nav-bar-inner right color-white">
            <p><a href="https://facebook.com/RadioKitEngine" class="nav-icon">
              <span class="icon-facebook small"></span> | <a href="https://twitter.com/RadioKitEngine" class="nav-icon">
                <span class="icon-twitter small"></span>
              </a> | <%= t("header.mailus") %> <a href="mailto:info@radiokit.org">info@radiokit.org</a></p>
          </div>
        </div>
      </div>
      <div class="header-inner">
        <div class="row nav-bar">
          <div class="column width-12 nav-bar-inner">
            <div class="logo">
              <div class="logo-inner">
                <a href="index.html"><img src="images/travel-agency/logo-dark.png" alt="Radiokit Logo" /></a>
                <a href="index.html"><img src="images/travel-agency/logo.png" alt="Radiokit Logo" /></a>
              </div>
            </div>


            <nav class="navigation nav-block primary-navigation sub-menu-indicator nav-right no-margin-right">
              <ul>
                <li class="current contains-sub-menu">

                  <a href="electron.html"><%= t("header.menu.broadcasting.title") %></a>
                  <ul class="sub-menu">
                    <!--<li>
                      <a href="dyna.html"><%= t("header.menu.broadcasting.dyna.title") %></a>

                    </li>-->
                    <li>
                      <a href="electron.html"><%= t("header.menu.broadcasting.electron.title") %></a>
                    </li>
                  </ul>
                </li>

                <li class="contains-sub-menu">

                  <a href="freezer.html"><%= t("header.menu.archiving.title") %></a>

                  <ul class="sub-menu">
                    <li>
                      <a href="freezer.html"><%= t("header.menu.archiving.freezer.title") %></a>
                    </li>
                    <li>
                      <a href="chronicle.html"><%= t("header.menu.archiving.chronicle.title") %></a>
                    </li>
                  </ul>
                </li>

                <li class="contains-sub-menu">

                  <a href="depot.html"><%= t("header.menu.integration.title") %></a>
                  <ul class="sub-menu">
                    <li>
                      <a href="depot.html"><%= t("header.menu.integration.database.title") %></a>
                    </li>
                    <!--<li>
                      <a href="diary.html"><%= t("header.menu.integration.diary.title") %></a>
                    </li>-->
                  </ul>
                </li>


                    <li class="contains-sub-menu">
                      <a href="engine.html"><%= t("header.menu.programming.title") %></a>

                <ul class="sub-menu">
                  <li>
                    <a href="engine.html"><%= t("header.menu.programming.engine.title") %></a>
                  </li>
                </ul>
              </li>


              <li>
                <a href="about.html"><%= t("header.menu.about.title") %></a>
              </li>
                <li>
                  <a href="contact.html"><%= t("header.menu.contact.title") %></a>

                </li>
                <!--
                <li class="contains-sub-menu sub-menu-right">
                  <a href="product-subpage.html">Jobs</a>-->
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>
